<div class="contactDetails">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Preview of my information</div>
            <!-- List group -->
            <ul class="list-group">
              <li class="list-group-item"><strong>Full Name:</strong> {{allData.step1.fullName}}</li>
              <li class="list-group-item"><strong>Email:</strong> {{allData.step1.email}}</li>
              <li class="list-group-item"><strong>Contact Number:</strong> {{allData.step1.contactNumber}}</li>
              <li class="list-group-item"><strong>Address:</strong> {{allData.step1.address}}</li>
              <li class="list-group-item"><strong>Temperature:</strong> {{allData.step2.temperature}}</li>
              <li class="list-group-item"><strong>I am feeling:</strong> {{allData.step2.feeling}}</li>
              <li class="list-group-item"><strong>Do you have cough?:</strong> {{allData.step2.hasCough}}</li>
              <li class="list-group-item"><strong>Have you been in contact with any CoViD19?:</strong> {{allData.step2.hasCovidContact}}</li>
              <li class="list-group-item"><strong>Details of the person contacted with:</strong> {{allData.step2.additionalInfo}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>