<form name="form" [formGroup]="regListForm" class="registration-form">
    <div class="my-info">
        <h4>Enter your details:</h4>
        <div class="col-md-12 row">
            <span class="col-md-12">Full name:</span>
            <span class="col-md-12">
                <input class="form-control"  id="fullname" formControlName="fullname">
                <small class="form-text text-muted error" *ngIf="regListForm.get('fullname').touched && regListForm.get('fullname').status == 'INVALID'">Invalid value</small>
            </span>
        </div> 
        <div class="clear-both"><br /></div>
        <div class="col-md-12 row">
            <span class="col-md-12">Email:</span>
            <span class="col-md-12">
                <input class="form-control" id="email" formControlName="email">
                <small class="form-text text-muted error" *ngIf="regListForm.get('email').touched && regListForm.get('email').status == 'INVALID'">Invalid value</small>
            </span>
        </div> 
    </div>
    
    <div class="clear-both"> </div>

    <div class="family-list">
        <h5>Enter family full name details:</h5>
        <div class="col-md-12 row">
            <div class="col-md-3">
                <input id="newInput" class="form-control new-input" formControlName="newInput">
            </div>
            <div class="col-md-3 p-0">
                <button id = "addFamily" class="btn btn-sm btn-info" style = "margin-left: 5px" (click)="addToList()" *ngIf="!isEditMode">Add</button>
                <button id = "editFamily" class="btn btn-sm btn-info" style = "margin-left: 5px" (click)="updateItem()" *ngIf="isEditMode">Update</button>
                <button id = "editFamily" class="btn btn-sm btn-info" style = "margin-left: 5px" (click)="cancelUpdate()" *ngIf="isEditMode">Cancel</button>
            </div>
        </div>
        <div class="col-md-12 row" id="familyList">
            <div class="col-md-12">
                <ul>
                    <li *ngFor = "let item of familyList; let i = index;" [ngClass]="{'on-edit' : item.isEdit }">
                        <span>{{ item.name }}</span>
                        <button class="edit btn btn-sm" (click)="editFromList(item, i)" [ngClass]="{'disabled' : isEditMode}">Edit</button>
                        <button class="delete btn btn-sm" (click)="removeFromList(item, i)" [ngClass]="{'disabled' : isEditMode}" >Delete</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</form>

<div class="submit-form">
    <button class="submitList btn btn-md btn-primary" (click)="submitList()" data-toggle="modal" data-target="#myModal">Submit</button>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ alert.title }}</h4>
            </div>
            <div class="modal-body">
                {{ alert.message }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ alert.button }}</button>
                <!-- <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="handleReset()">Reset</button> -->
            </div>
        </div>
    </div>
</div>