<!-- <link rel="stylesheet/less" type="text/less" href="pages/contactTracing/contactTracing.less" /> -->
<div class="container theme-showcase" role="main">
  <div class='jl-stepper'>
    <button type="button" class="btn stepper" [ngClass]="{'active': currentStep === 1}"> Step <span class='stepper-number'>1</span></button> 
    <span class='stepper-line'></span>
    <button type="button" class="btn stepper" [ngClass]="{'active': currentStep === 2}"> Step <span class='stepper-number'>2</span></button> 
    <span class='stepper-line'></span>
    <button type="button" class="btn stepper" [ngClass]="{'active': currentStep === 3}"> Step <span class='stepper-number'>3</span></button> 
    <span class='stepper-line'></span>
    <button type="button" class="btn stepper" [ngClass]="{'active': currentStep === 4}"> Step <span class='stepper-number'>4</span></button> 
  </div>

  <div class="contactTracingForm">
      <!-- Step 1 -->
      <div *ngIf="currentStep === 1">
        <app-contact-details></app-contact-details>
      </div>

      <div *ngIf="currentStep === 2">
        <!-- <app-health-status></app-contact-details> -->
      </div>
      {{ currentStep }}
      {{ step1 | json}}
  </div>
  <div class='action-button'>
    <button type="button" class="btn btn-lg btn-primary" (click)="handleBackClick()">Back</button>
    <button type="button" class="btn btn-lg btn-primary" (click)="handleNextClick()" [disabled]="isInvalid">>Next</button>
  </div>
</div>
