<link rel="stylesheet/less" type="text/less" href="pages/home/home.less" />
<div class="container theme-showcase" role="main">

  <div class="row banner-wrapper">
    <div class="col-md-6">
      <h1 class="homePage">Hellow World</h1>
      <span class="home-details">
        <p ng-repeat="text in bannerDetails">sadasdas</p>
      </span>
      <button class="btn btn-primary btn-contact-tracing" ng-click="contactTracing()">FILL UP THE FORM</button>
    </div>
    <div class="col-md-6"></div>
  </div>
  <router-outlet></router-outlet>
</div>