@base: #4167b4;
@baseDarker: #2e458c;
@mainBackground: #e9feff;
@navOpacity: #e9feff7d;
@whiteOpacity: #ffffff94;
@whiteOpacity2: #ffffff94;
@gray: #ececec;
@darkGray: #535353;
@lightGray: #959595;
@ligherGray: #b7b7b7;
@white: #fff;
@stepperGray: #b4b4b4;
@error: #cc3535;


.clear-both {
    clear: both
}

.p-0 {
    padding: 0px;
}

.m-0 {
    margin: 0px
}

.body-home {
    background-color: @mainBackground;
    background-image: url(../assets/images/home-bg.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}