<div class="container theme-showcase register-wrapper" role="main">
    <h2>Register your family</h2>
    <p>Submit your contact information including the list of your family members that you would like to be listed as under observation.</p>
    <p>&nbsp;</p>
    <app-registration-form *ngIf="currentStep==1"></app-registration-form>
    <div class="submit-form">
        <button class="submitList btn btn-md btn-primary" (click)="submitList()" data-toggle="modal" data-target="#myModal">Submit</button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Registration Form</h4>
            </div>
            <div class="modal-body">
                {{ alert.message }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ alert.button }}</button>
                <!-- <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="handleReset()">Reset</button> -->
            </div>
        </div>
    </div>
</div>