<div class="contactDetails">
  <form name="form" [formGroup]="step2Form">
    <div class="form-group form-group-lg" >
      <label for="exampleInputEmail1">Temperature in Celsius (°C) *</label>
      <input class="form-control"
        formControlName="temperature"
        [ngClass]="{'is-invalid' : step2Form.get('temperature').touched && step2Form.get('temperature').invalid}"
        type="number" name="temperature"
        >
      <small class="form-text text-muted error" *ngIf="step2Form.get('temperature').touched && step2Form.get('temperature').invalid">This field is required.</small>
    </div>

    <div class="form-group form-group-lg">
      <label for="exampleInputEmail1" class="col-md-12 p-0">Feeling *</label>
      <div class="radio-inline">
        <label>
          <input type="radio" name="feeling" id="optionsRadios1"
          
          value="well" checked>
          Well
        </label>
      </div>
      <div class="radio-inline">
        <label>
          <input type="radio" name="feeling" id="optionsRadios2"  value="nauseous">
          Nauseous
        </label>
      </div>
      <div class="radio-inline">
        <label>
          <input type="radio" name="feeling" id="optionsRadios3"  value="feverish">
          Feverish
        </label>
      </div>
      <small class="form-text text-muted error">This field is required.</small>
    </div>

    <div class="form-group form-group-lg">
      <label for="exampleInputEmail1" class="col-md-12 p-0">Do you have cough? *</label>
      <div class="radio-inline">
        <label>
          <input type="radio" name="hasCough" id="optionsRadios1" value="yes">
          Yes
        </label>
      </div>
      <div class="radio-inline">
        <label>
          <input type="radio" name="hasCough" id="optionsRadios2" value="no" checked>
          No
        </label>
      </div>
      <small class="form-text text-muted error">This field is required.</small>
    </div>

    <div class="form-group form-group-lg">
      <label for="exampleInputEmail1" class="col-md-12 p-0">Have you been in contact with any CoVid? *</label>
      <div class="radio-inline">
        <label>
        <!-- (change)="handleCovidContactChange()" -->
          <input type="radio"
          name="hadCovidContact" id="optionsRadios1" value="yes">
          Yes
        </label>
      </div>
      <div class="radio-inline">
        <label>
        <!-- (change)="handleCovidContactChange()" -->
          <input type="radio"
          name="hadCovidContact" id="optionsRadios2" value="no" checked>
          No
        </label>
      </div>
      <input class="form-control"
        *ngIf="isAdditionalInfoShow"
        [ngClass]="{'is-invalid' : step2Form.get('additionalInfo').touched && step2Form.get('additionalInfo').invalid}"
        type="text" name="additionalInfo"
        formControlName="additionalInfo"
        placeholder="If yes, input the details of that person: * ">
      <small class="form-text text-muted error"
        *ngIf="step2Form.get('additionalInfo').touched && step2Form.get('additionalInfo').invalid">This is a required field</small>
    </div>
  </form>
</div>