<div class="contactDetails">
  <form name="form" [formGroup]="step2Form">
    <div class="form-group form-group-lg" >
      <label for="exampleInputEmail1">Temperature in Celsius (°C) *</label>
      <input class="form-control"
        formControlName="temperature"
        [ngClass]="{'is-invalid' : step2Form.get('temperature').touched && step2Form.get('temperature').status == 'INVALID'}"
        type="number" name="temperature"
        >
      <small class="form-text text-muted error" *ngIf="step2Form.get('temperature').touched && step2Form.get('temperature').status == 'INVALID'">This field is required.</small>
    </div>

    <div class="form-group form-group-lg">
      <label for="exampleInputEmail1" class="col-md-12 p-0">Feeling *</label>
      <div class="radio-inline">
        <label>
          <input type="radio" name="feeling" formControlName="feeling" (change)="handleFeelingChange($event)" id="optionsRadios1" value="well">
          Well
        </label>
      </div>
      <div class="radio-inline">
        <label>
          <input type="radio" name="feeling" formControlName="feeling" (change)="handleFeelingChange($event)" id="optionsRadios2"  value="nauseous">
          Nauseous
        </label>
      </div>
      <div class="radio-inline">
        <label>
          <input type="radio" name="feeling" formControlName="feeling" (change)="handleFeelingChange($event)" id="optionsRadios3"  value="feverish">
          Feverish
        </label>
      </div>
      <br />
    </div>

    <div class="form-group form-group-lg">
      <label for="exampleInputEmail1" class="col-md-12 p-0">Do you have cough? *</label>
      <div class="radio-inline">
        <label>
          <input type="radio" formControlName="hasCough" (change)="handleHasCoughChange($event)" name="hasCough" id="hasCough1" value="yes">
          Yes
        </label>
      </div>
      <div class="radio-inline">
        <label>
          <input type="radio" formControlName="hasCough" (change)="handleHasCoughChange($event)" name="hasCough" id="hasCough2" value="no" checked>
          No
        </label>
      </div>
      <br />
    </div>

    <div class="form-group form-group-lg">
      <label for="exampleInputEmail1" class="col-md-12 p-0">Have you been in contact with any CoVid?</label>
      <div class="radio-inline">
        <label>
          <input type="radio"
          formControlName="hasCovidContact"
          (change)="handleCovidContactChange($event)"
          name="hasCovidContact" id="optionsRadios1" value="yes">
          Yes
        </label>
      </div>
      <div class="radio-inline">
        <label>
          <input type="radio"
          formControlName="hasCovidContact"
          (change)="handleCovidContactChange($event)"
          name="hasCovidContact" id="optionsRadios2" value="no">
          No
        </label>
      </div>
      <input class="form-control"
        *ngIf="isAdditionalInfoShow"
        type="text" name="additionalInfo"
        formControlName="additionalInfo"
        placeholder="If yes, input the details of that person: ">
    </div>
  </form>
</div>