@import "styles.less";

@media only screen and (max-width: 767px) {
    .body-home {
      background-position: top center;
      background-size: cover;
      .banner-wrapper {
        padding-bottom: 20px;
        margin-top: 30px;
        background-color: @mainBackground;
      }
    }
  }